@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

body{
     width: 100%;
     font-family: 'Poppins', sans-serif;
}
/* removing text-decorators for the links */
a{
    text-decoration: none;
}

/****************Heading **************/
header{
    border: 1px transparent black;
    background: white;
    position: fixed;
    width: 100%;
    z-index: 10;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 4%;
    
    
}
 ul{
    display: flex;
    list-style: none;
    gap: 20px;
 }


 /****************Footer **************/
footer{
    background-color: rgb(15, 15, 15);
    color: white;
    padding-top: 20px;
}
footer a{
    color: aliceblue;
}
footer a:hover{
    color: rgb(102, 102, 192);
}

.footer_up,
.footer_down{
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    
}
.logo{
    width: 45%;
}
.links{
    display: flex;
    width: 55%;
    gap: 10%;
}
h4{
    margin-bottom: 18px;
}
.quick_links div,
.community div,
.company div{
    display: flex;
    font-size: 14px;
    flex-direction: column;
}
hr{
    border-color: black;
}
.btns{ 
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.btns a{
    width: 100px;
    color: white;
    padding-top: 8px ;
    padding-bottom: 8px;
    border-radius: 7px;
    font-size: 13px;
}
.follow_us img{
    max-width: 30px;
}
.follow_us{
    display: flex;
    gap: 10px;
}
@media (max-width:390px) {
  
}