.outer {
    min-height: 100vh;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    padding-bottom: 40px;
    position: relative;
}
.border-1{
    width: 80%;
   
    margin: auto;
    margin-top: 10vh;
    padding: 60px;
    
}
.border-1>h3{
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
}
.border-1>ul,
.border-1>p {
    font-size: 16px;
    font-weight: 300;
    
}
.border-1>ul{
    display: block;
    list-style:disc;
    text-align: left;
    margin: auto;
}
@media (max-width: 675px) {
    .outer{
        letter-spacing: 0.02em;
    }
    .border-1{
        outline: none;
        padding: 10px;
    }
    .border-1>ul,
    .border-1>p{
        font-size: 10px;
    }
}