@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
    
}
.heading {
    text-align: center;
    color: wheat;
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, rgba(5, 5, 5, 0.621), rgba(3, 3, 3, 0.769)), url(https://res.cloudinary.com/dfk4z2ch2/image/upload/v1706478115/HolyFamily/HFExterior/m3mtfjcgozakr84jiijm.jpg); 
    background-position: 20% 30%;
    min-height: 200px;
    margin-bottom: 30px;
  }
.heading > h1{
    line-height: 72px;
    font-weight: 400;
    font-size: 2.5em;
   
}
#burger,
.nav_ul {
    box-sizing: content-box;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

/* removing text-decorators for the links */
header a{
    color: wheat !important;
}
footer a,
a {
    text-decoration: none;

    color: #18A0FB;
    
}

.btn1 {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    display: flex;
    gap: 20px;
    font-size: 1rem;
   
    
}

.btn1 a {
    width: auto;
    color: white;
    border-radius: 7px;
    padding: 13px;
}

.login {
    background: rgb(191, 78, 3);
}

.reg {
    background: rgb(68, 68, 218);
}

.login:focus,
.login:hover {
    background: rgb(252, 116, 4);
    

}

.reg:focus,
.reg:hover {
    background: rgba(68, 68, 218, 0.8);
    color: black;
}

/****************Heading **************/
header {
    /* background: white; */
    width: 100%;
    /* box-shadow: 0px 0px 3px 1px; */
   
    position: absolute;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 4%;
    align-items: center !important;
    display: flex !important;


}

.nav_ul {
    display: flex;
    position: absolute;
    right: 50px;
    min-width: 30%;
    gap: 15px;

}

ul {

    display: flex;
    list-style: none;
    justify-content: space-between;
}

ul li p {
    color: #18A0FB;
    display: inline;
}

.pageActive {

    border-bottom: 3px solid orangered;
}

.nav_ul > li > a,
.nav_ul li p {
    border-bottom: 3px solid transparent;
    padding: .3vw;
}

.nav_ul li a:focus,
.nav_ul li p:focus,
.nav_ul li a:hover,
.nav_ul li p:hover {


    /* color: rgba(54, 88, 124, 0.4); */
    color: aliceblue;
    border-bottom: 3px solid orangered;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

#burger,
#exit {
    display: none;
}

nav figure:first-child {
    border: none;
}

/* **************LOGO*********** */
header .logo img {
    max-height: 40px;
    margin-right: 6px;
}

.logo {
    align-items: center !important;
    display: flex !important;

}

.logo h1 {
    font-size: 20px;
    margin: 0;
    font-weight: 500;
    letter-spacing: 0.8px;

}

@media (max-width: 700px) {

    .logo h1 {
        font-size: 10px;
        margin: 0;
        font-weight: 500;
    }
}

/****************Footer **************/
footer {
    background-color: rgb(20, 20, 20);
    color: white;
    padding-top: 20px;
}

footer a {
    color: aliceblue;
    padding: 5px;
}

footer a:focus,
footer a:hover {
    color: rgb(101, 101, 191);
}

.footer_up {
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;


}

.footer_down {
    padding: 40px 20px;
    display: flex;
    justify-content: space-evenly;

}

footer .logo {

    display: flex;
    justify-content: center;
    gap: 1em;

}

footer .logo img {
    width: 15%;

}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;

}

h4 {
    margin-bottom: 18px;

}

.links div h4 {
    color: #ffc107;
}

.quick_links div,
.community div,
.company div {
    display: flex;
    font-size: 14px;
    flex-direction: column;
}

hr {
    width: 90%;
    margin: auto !important;
    border-color: black;
    margin: 1rem 0 ;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;


}

.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;


}

.btns a {
    width: 100px;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 7px;
    font-size: 13px;
    cursor: not-allowed;
}

.btns .login {
    display: none;
}

.follow_us img {
    width: 20px;
}

.copyright,
.follow_us {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media (max-width:900px) {
    p {
        font-size: 13px;
    }

    .nav_ul {
        display: none;
    }

    .buger_nav_ul {

        display: block;
        position: fixed;
        top: 0%;
        left: 40%;
        text-align: left;
        display: none;
        background: rgb(59, 56, 56);
        padding: 10%;
        padding-top: 20%;
        line-height: 50px;
        font-size: 15px;
        height: 100vh;
        width: 40%;
        z-index: 10;
        animation: page 600ms cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    @keyframes page {
        0% {
            left: 100vw;

        }

        100% {
            left: 40vw;
        }
    }

    nav figure:first-child {
        z-index: 11;

    }

    .nav_ul li a,
    .nav_ul li p {
        display: block;
        width: 100%;
        padding-left: 10px;
    }

    .nav_ul p {
        font-size: 15px;
        margin: 0;

    }

    .btn_book {
        width: max-content;
        margin: auto;
    }


    #burger {
        position: absolute;
        right: 20px;
        width: 20px;
        display: block;
        outline: 1px solid rgb(191, 78, 3);;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;

    }

    #burger:focus,
    #burger:hover {
        outline: 3px solid rgb(191, 78, 3);;

    }

    #exit {
        position: absolute;
        width: 25px;
        right: 30px;
        top: 20px;
        display: block;
        cursor: pointer;
    }

    .outerdiv_booking {
        width: 90%;
        transform: translateY(5%);
    }

    .how_to_book ul {
        font-size: 14px;

    }

    .how_to_book h2 {
        font-size: 20px;
    }

    .footer_up {
        display: block;
    }

    .footer_up {
        position: relative;
    }

    .btns {
        position: absolute;
        gap: 15px;
        top: 10px;
        right: 20px;
        display: none;
    }

    .links {
        margin-top: 60px;
        width: 100%;
        justify-content: center;

    }

    .links div h4 {
        font-size: 13px;

    }

    .links div {
        font-size: 10px;
    }

    .footer_down {
        flex-direction: column;
        gap: 13px;
    }

    .copyright,
    .follow_us {
        font-size: 12px;

    }


    .follow_us img {
        width: 15px;
    }

    .btn1 a,
    .btns a {
        width: 90px;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 10px;
    }
}


.headerFiller{
    height: 100vh;
    z-index: 1;
}

/* devWhatsapp */

.devWhatsapp {
    text-decoration: underline !important;
    color: #ffc107;
}



/* rgb(191, 78, 3); */